@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
}
.background {
	width: 100vw;
	height: 100vh;
	position: fixed;
	overflow: visible;
}
.colorpicker {
	position: fixed;
}
.lightcolor {
	z-index: 20000;
	top: -20vh;
}
.colorpicker p, .lightcolor p {
	color: whitesmoke
}
.basecolor {
	bottom: 10px;
	right: 240px;
}
.emittcolor {
	bottom: 10px;
	right: 10px;
}
.hemispherelight {
	left: -32vw
}
.directionallight {
	left: -42vw
}
.spotlight {
	left: 42vw
}
.pointlight {
	left: 32vw
}
.ambientlight {
	left: -22vw;
}